<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/sass/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Monoton&family=Montserrat:wght@100;300;400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body{
            background-color:#eaf7f7;
        }
    </style>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="box">
        <% if(errorMessage) { %>
                <div class="error"> <%= errorMessage %> </div>
         <% } %>
        <form  class="form" action="/register" method="post">
         <input class="form__input form__input--first" type="text" name="name" placeholder="Username" autofocus>
         <input class="form__input form__input--email" type="email" name="email" placeholder="Email">
         <input class="form__input form__input--password" type="password" name="password" placeholder="Password">
         <button class="btn-submit" type="submit">Register</button>
        </form>
    </div>
</body>
</html>