<header class="navigation">
    <nav class="navigation__nav">
        <div>
            <ul class="navigation__nav--list">
                <li class="navigation__nav--item"><a class="navigation__nav--link" href="/">Shop</a></li>
                <li class="navigation__nav--item"><a class="navigation__nav--link" href="/products">Products</a></li>
                <!-- <li  class="navigation__nav--item"><a class="navigation__nav--link" href="/cart">Cart</a></li> -->
                
                <% if(isLoggedIn){ %>
                    <li class="navigation__nav--item"><a class="navigation__nav--link" href="/orders">Orders</a></li>
                <li class="navigation__nav--item"><a class="navigation__nav--link" href="/admin/add-product">Add Product</a></li>
                <li class="navigation__nav--item"><a class="navigation__nav--link" href="/admin/products">Admin Products</a></li>
                 <% } %>
            </ul>
        </div>
        <div>
            <div class="navigation__nav--list">
                <% if(isLoggedIn){ %>
                <form action="/logout" method="post">
                    <button class="navigation__nav--item form__btn" type="submit">Logout</button>
                </form>
               <% }else{ %>
                <ul class="navigation__nav--list">
                    <li class="navigation__nav--item"><a class="navigation__nav--link" href="/login">Login</a></li>
                    <li class="navigation__nav--item"><a class="navigation__nav--link" href="/register">Register</a>
                    </li>
                </ul>
                <% } %>
            </div>

        </div>
    </nav>

</header>